@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap');

.title {
    margin: 10px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: clamp(0.8rem, 0.6rem + 0.8vw, 1.4rem);
    color: #c5c5ce;
}

.panelpanel {
    height: 100%;
}